<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="inputs.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Tomorrow&display=swap" rel="stylesheet">

	<title>Console</title>
</head>

<body>
	<p class="logo">4S</p>
	<div id="main">
		<table class="widget">
			<tr>
				<th style="width: 100px">
					Status
				</th>
				<td>
					<%=status%>
				</td>
			</tr>
		</table>
		<table class="widget">
			<tr>
				<th>
					<p>Select Status</p>
				</th>
			</tr>
			<tr style="width: 100%">
				<td>
					*Status Selection System*
				</td>
			</tr>
		</table>
	</div>
</body>

</html>