<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="inputs.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Tomorrow&display=swap" rel="stylesheet">

	<title>Device Info</title>
</head>

<body>
	<p class="logo">4S</p>
	<div id="main">
		<p><a class="linkButton" href="/"> Home </a></p>
		<table class="widget">
			<tr>
				<th>
					Device IP
				</th>
			</tr>
			<tr>
				<td>
					<%=ip%>
				</td>
			</tr>
		</table>
		<table class="widget">
			<tr>
				<th>
					Site Cookies
				</th>
			</tr>
			<tr>
				<td>
					<%= cookies %>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>