<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="inputs.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Tomorrow&display=swap" rel="stylesheet">

	<style>
		table {
			width: 100%;
		}
		th {
			width: 25%;
			text-align: right;
			background: #dedede;
		}

		#main {
			max-width: 500px;
		}
	</style>

	<title>Login</title>
</head>

<body>
	<p class="logo">4S</p>
	<div id="main">
		<form action="/login" method="post">
			<table>
				<tr>
					<th>
						Username:
					</th>
					<td>
						<input type="text" name="username">
					</td>
				</tr>
				<tr>
					<th>
						Password:
					</th>
					<td>
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>