<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="mainStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Tomorrow:800i&display=swap" rel="stylesheet">

	<style>
		th {
			width: 25%;
			text-align: right;
			background: #dddddd;
		}

		tr {
			width: 100%;
		}

		table {
			width: 100%;
		}

		button.selector {
  			width: 100%;
  			padding: 12px;
		  	border: none;
		  	text-align: center;
		  	text-decoration: none;
		  	display: inline-block;
		  	font-size: 16px;
		  	margin: 4px 2px;
		  	cursor: pointer;
		}
		input[type=text], input[type=password] {
			width: 100%;
			padding: 8px 10px;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
		}

		input[type=text]:focus, input[type=password]:focus {
			border: 3px solid #555;
		}

		input[type=submit] {
			background-color: #f44336;
			border: none;
			color: white;
			padding: 8px 12px;
			text-align: center;
			display: inline-block;
		}

		input[type=submit]:hover {
			background-color: red;
		}
	</style>

	<title>Login</title>
</head>

<body>
	<p class="logo">4S</p>
	<div id="main" style="max-width: 500px">
		<form action="/console">
			<table>
				<tr>
					<th>
						Username:
					</th>
					<td>
						<input type="text" name="username">
					</td>
				</tr>
				<tr>
					<th>
						Password:
					</th>
					<td>
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>